@use "../mixins";
@use "../variables";

/**
 * Стили кнопок
 */
.btn {
    &-main {
        display: flex;
        align-items: center;
        gap: 23px;
        padding: 16px;
        border-radius: 40px;
        background-color: variables.$accent-color-2;
        transition: variables.$transition-base;
        border: 1px solid variables.$border-color;
        min-width: 260px;
        font-family: variables.$font-family-primary;
        color: variables.$text-color;
        font-size: 12px;
        font-weight: 500;
        line-height: 1.4;
        text-align: center;
        text-transform: uppercase;
        position: relative;
        justify-content: center;

        span {
            color: variables.$text-color;
            font-size: 12px;
            font-weight: 500;
            line-height: 1.4;
        }

        @include mixins.hover-button;

        img {
            width: 36px;
            height: 36px;
            object-fit: contain;
            flex-shrink: 0;
            position: absolute;
            left: 7px;
            top: 7px;
        }

        // &:disabled {
        //     background-color: #FBF4FF;
        //     color: #CBD5E1;
        //     cursor: not-allowed;
        //     box-shadow: none;

        //     &:hover,
        //     &:active,
        //     &:focus {
        //         background-color: #FBF4FF;
        //         color: #CBD5E1;
        //     }
        // }
    }

    &-black {
        color: variables.$text-white;
        background-color: variables.$black-color;
        padding: 20px 40px;

    }

}

@include mixins.media-down(sm) {
    // .btn {
    //     &-main {
    //         font-size: variables.$font-size-sm;
    //         padding: variables.$spacing-md variables.$spacing-md;

    //     }
    // }
}