@use "../variables";
@use "../mixins";

.glowing-dots {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 1rem;

    &.horizontal {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

   &__item {
    border-radius: 50%;
    width: 0.6rem;
    height: 0.6rem;
    display: block;
    background-color: #151515;
    transition: variables.$transition-base;
    &.active {
        width: 1rem;
        height: 1rem;
        flex-shrink: 0;
        background-color: #fff;
        border: 0.4rem solid #00462a;
        box-shadow: 0px 0px 1rem 0.5rem #FFFFFF1A;

    }
   }
}