@use "../mixins";
@use "../variables";

/**
 * Стили главной страницы
 */
.banner {
    &__title {
        font-size: 46px;
        font-weight: 500;
        font-family: variables.$font-family-headings;
        line-height: 1.24;
        color: variables.$text-color;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.02em;
        text-wrap: balance;

        transition: opacity 0.8s ease, transform 0.8s ease;

        span {
            color: variables.$primary-color;
        }
    }

    &__video {
        margin-top: 48px;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        height: 580px;
        border-radius: 26px;
        overflow: hidden;
        position: relative;
        z-index: 1;
        will-change: transform, border-radius;
        transform-origin: center center;

        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
            will-change: transform;
        }
    }
}

// Стили для скрытия шапки при скролле
.header {
    transition: opacity 0.8s ease, transform 0.8s ease;

    &.hidden {
        opacity: 0;
        transform: translateY(-100%);
    }
}

.problems {
    padding-top: 150px;

    &__header {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        margin-bottom: 40px;
    }

    &__title {
        font-size: 38px;
        font-weight: 500;
        font-family: variables.$font-family-headings;
        line-height: 1.24;
        color: variables.$text-color;
        text-transform: uppercase;
        text-wrap: balance;
        letter-spacing: 0.02em;
        padding-left: 35px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 14px;
            display: block;
            width: 22px;
            height: 22px;
            border-radius: 50%;
            background-color: #fff;
            border: 6px solid rgba(0, 152, 91, 1);
            box-shadow: 0px 0px 10px 5px #FFFFFF1A;
        }

        span {
            color: variables.$primary-color;
        }
    }

    &__content {
        display: flex;
        align-items: start;
        gap: 20px;
        justify-content: space-between;
    }

    &__text {
        font-size: 16px;
        font-weight: 400;
        font-family: variables.$font-family-primary;
        line-height: 1.4;
        text-wrap: balance;
        color: #BABABA;
    }

    &__tag {
        font-size: 14px;
        font-weight: 400;
        font-family: variables.$font-family-primary;
        line-height: 1.25;
        color: variables.$primary-color;
        padding: 10px 50px;
        border-radius: 24px;
        background-color: #1E1E1E;
        color: #00A652;
        text-align: center;
        text-wrap: nowrap;
    }

    &__titles {
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: 20px;
        margin-bottom: 30px;
        position: sticky;
        top: 20px;

        &__title {
            font-size: 16px;
            font-weight: 400;
            font-family: variables.$font-family-primary;
            line-height: 1.3;
            color: #fff;
            text-wrap: balance;
            text-transform: uppercase;
        }
    }

    &__cards {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 80px;
        display: grid;
        grid-template-columns: 1fr;
        position: relative;
    }

    &__card {
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: 20px;
        counter-increment: problems-card;

        position: sticky;
        top: 70px;

        &__left,
        &__right {
            padding: 25px 30px;
            border: 1px solid #2F2F2F;
            border-radius: 30px;
            background-color: #1E1E1E;
        }

        &__left {
            &__header {
                display: flex;
                align-items: start;
                gap: 20px;
            }

            &__title {
                font-size: 16px;
                font-weight: 400;
                font-family: variables.$font-family-primary;
                line-height: 1.3;
                color: #fff;
                text-transform: uppercase;
                text-wrap: balance;
            }

            &__icon {
                width: 48px;
                height: 48px;
                border-radius: 50%;
                margin-top: -15px;
                margin-right: -15px;
                flex-shrink: 0;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            &__img {
                width: 100%;
                height: 220px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            &__text {
                font-size: 12px;
                font-weight: 500;
                font-family: variables.$font-family-primary;
                line-height: 1.4;
                color: #fff;
                text-wrap: balance;
                text-transform: uppercase;
                margin-top: 10px;
                padding-right: 20px;

            }
        }

        &__right {
            background-image: url(../img/base/problems-pattern.svg);
            background-size: 205px 320px;
            background-position: 100% 30px;
            background-repeat: no-repeat;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: start;
            gap: 50px;
            padding-right: 180px;

            &::after {
                content: '0' counter(problems-card);
                position: absolute;
                top: 10px;
                right: 40px;
                color: #fff;
                font-size: 70px;
                font-weight: 400;
                font-family: variables.$font-family-primary;
                line-height: 1.3;
                text-transform: uppercase;
                -webkit-text-stroke: 1px #2f2f2f;

            }

            &__title {
                font-size: 24px;
                font-weight: 500;
                font-family: variables.$font-family-headings;
                line-height: 1.24;
                color: #fff;
                text-transform: uppercase;
                text-wrap: balance;
            }

            &__text {
                font-size: 16px;
                font-weight: 400;
                font-family: variables.$font-family-primary;
                line-height: 1.4;

                ul {
                    list-style: none;
                    margin: 0;
                    padding-left: 0;

                    li {
                        position: relative;
                        padding-left: 20px;


                        &::before {
                            content: '';
                            position: absolute;
                            left: 0;
                            top: 7px;
                            width: 10px;
                            display: block;
                            height: 10px;
                            background-image: url(../img/icons/arrow-bottom.svg);
                            background-size: contain;
                            background-position: center;
                            background-repeat: no-repeat;
                        }
                    }
                }
            }
        }

    }
}

// Стили для табов
.tariffs {
    &__tabs {
        margin-top: 60px;
    }

    &__tabs-main {
        display: flex;
        gap: 20px;
        margin-bottom: 40px;
    }

    &__tab-main {
        padding: 20px 50px;
        font-size: 12px;
        font-weight: 500;
        font-family: variables.$font-family-primary;
        line-height: 1.4;
        color: #fff;
        background: transparent;
        border: none;
        cursor: pointer;
        text-transform: uppercase;
        transition: all 0.3s ease;
        position: relative;
        border: 1px solid #00AB67;
        border-radius: 40px;
        width: 324px;
        text-align: center;
        text-wrap: balance;

        &:hover {
            background-color: #00AB67;
        }

        &.active {
            background-color: #00AB67;
        }
    }

    &__content-main {
        display: none;

        &.active {
            display: block;
        }
    }

    &__tabs-sub {
        display: flex;
        gap: 15px;
        margin-bottom: 30px;
        flex-wrap: wrap;
    }

    &__tab-sub {

        font-size: 24px;
        font-weight: 400;
        font-family: variables.$font-family-headings;
        line-height: 1.24;
        color: #A7A7A7;
        cursor: pointer;
        text-transform: uppercase;
        transition: all 0.3s ease;

        &:hover {
            color: #fff;
        }

        &.active {
            color: #00A652;
        }

        &:not(:last-child) {
            padding-right: 15px;
            border-right: 1px solid #fff;
        }
    }

    &__content-sub {
        display: none;

        &.active {
            display: block;
        }

        &__inner {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, auto);
            gap: 20px;

            &__item {

                &:nth-child(1) {
                    grid-area: 1 / 1 / 4 / 2;
                }

                &:nth-child(2) {
                    grid-area: 1 / 2 / 2 / 3;
                }

                &:nth-child(3) {
                    grid-area: 2 / 2 / 3 / 3;
                }

                &:nth-child(4) {
                    grid-area: 3 / 2 / 4 / 3;
                }

                &:nth-child(2) {
                    .tariffs__content-sub__inner__card::after {
                        background-image: url(../img/icons/3-dots-1.svg);
                    }
                }

                &:nth-child(3) {
                    .tariffs__content-sub__inner__card::after {
                        background-image: url(../img/icons/3-dots-2.svg);
                    }
                }

                &:nth-child(4) {
                    .tariffs__content-sub__inner__card::after {
                        background-image: url(../img/icons/3-dots-3.svg);
                    }
                }
            }

            &__card {
                border: 1px solid #2F2F2F;
                border-radius: 30px;
                background-color: #1E1E1E;
                padding: 24px 30px;
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    right: 10px;
                    top: 24px;
                    width: 30px;
                    height: 56px;
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;

                }


            }

            &__title {
                font-size: 16px;
                font-weight: 400;
                font-family: variables.$font-family-primary;
                line-height: 1.3;
                color: #fff;
                text-transform: uppercase;
                text-wrap: balance;
                margin-bottom: 20px;
            }

            &__image {
                height: 100%;
                position: relative;
                border-radius: 30px;
                overflow: hidden;
            }

            &__img {
                width: 100%;
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            &__btn {
                position: absolute;
                bottom: 24px;
                right: 24px;
                left: 24px;
                width: calc(100% - 48px);
                text-align: center;
            }

            &__list {
                &__item {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    justify-content: space-between;
                    position: relative;





                    &__title {
                        font-size: 16px;
                        font-weight: 400;
                        font-family: variables.$font-family-primary;
                        line-height: 1.4;
                        color: #bababa;
                        text-wrap: balance;
                        flex-shrink: 0;
                        order: 0;

                    }

                    &::after {
                        content: '';
                        flex-grow: 1;
                        border-bottom: 1px solid #707070;
                        order: 1;
                        margin-top: 9px;
                    }


                    &__value {
                        font-size: 16px;
                        font-weight: 400;
                        font-family: variables.$font-family-primary;
                        line-height: 1.3;
                        color: #fff;
                        text-wrap: nowrap;
                        flex-shrink: 0;
                        width: 180px;
                        order: 2;
                    }
                }
            }


        }
    }

}

.about {
    &__inner {
        padding: 45px 0 136px;
        background-image: url(../img/base/planet.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    &__content {
        margin-top: 105px;
        display: flex;
        align-items: start;
        gap: 20px;
        justify-content: space-between;
        margin-bottom: 100px;
    }

    &__description {
        font-size: 16px;
        font-weight: 400;
        font-family: variables.$font-family-primary;
        line-height: 1.4;
        color: #fff;
        text-wrap: balance;
        max-width: 390px;
        padding-left: 35px;
        color: #BABABA;
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }

    &__card {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 20px;
        justify-content: space-between;
        min-height: 210px;
        border: 1px solid #2F2F2F;
        border-radius: 30px;
        background-color: #1E1E1E;
        padding: 24px 24px;
        position: relative;

        &__header {
            display: flex;
            align-items: start;
            gap: 10px;
            justify-content: space-between;

            &__title {
                font-size: 16px;
                font-weight: 400;
                font-family: variables.$font-family-primary;
                line-height: 1.3;
                color: #fff;
                text-transform: uppercase;
                text-wrap: balance;
            }

            &__icon {
                width: 46px;
                height: 46px;
                border-radius: 50%;
                margin-top: -17px;
                margin-right: -17px;
                flex-shrink: 0;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }



        &__text {
            font-size: 14px;
            font-weight: 400;
            font-family: variables.$font-family-primary;
            line-height: 1.4;
            color: #A7A7A7;
            text-wrap: balance;
            padding-right: 10px;
        }

        &::after {
            content: '';
            position: absolute;
            bottom: 18px;
            right: 10px;
            width: 30px;
            display: block;
            height: 64px;
            background-size: contain;
            background-position: bottom right;
            background-repeat: no-repeat;
        }

        &:nth-child(1) {
            &::after {
                background-image: url(../../img/icons/glowing-dots-1.svg);
            }
        }

        &:nth-child(2) {
            &::after {
                background-image: url(../../img/icons/glowing-dots-2.svg);
            }
        }

        &:nth-child(3) {
            &::after {
                background-image: url(../../img/icons/glowing-dots-3.svg);
            }
        }

        &:nth-child(4) {
            &::after {
                background-image: url(../../img/icons/glowing-dots-4.svg);
            }
        }
    }
}

.faq {
    &__inner {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    &__block {
        padding: 40px 50px;
        border: 1px solid #2F2F2F;
        border-radius: 26px;
        background-color: #1E1E1E;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__item {
        border-radius: 24px;
        background-color: #323232;
        overflow: hidden;
        transition: all 0.3s ease;

        svg {
            transition: all 0.3s ease;
        }

        &[open] {
            svg {
                transform: rotate(180deg);


                path {
                    stroke: #fff;
                }

                circle {
                    fill: #00A652;
                }
            }
        }
    }

    &__question {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 6px 6px 6px 44px;
        cursor: pointer;
        list-style: none;
        user-select: none;
        transition: all 0.3s ease;

        &::-webkit-details-marker {
            display: none;
        }

        &:hover {
            span {
                color: #00A652;
            }
        }

        span {
            font-size: 16px;
            font-weight: 400;
            font-family: variables.$font-family-primary;
            line-height: 1.4;
            color: #fff;
            padding-right: 20px;
            transition: all 0.3s ease;

        }
    }


    &__answer {
        padding: 0 44px 30px 44px;
        animation: fadeIn 0.3s ease;

        p {
            font-size: 14px;
            font-weight: 400;
            font-family: variables.$font-family-primary;
            line-height: 1.25;
            color: #BABABA;
        }
    }

    &__callback {
        &__title {
            font-size: 24px;
            font-weight: 500;
            font-family: variables.$font-family-headings;
            line-height: 1.24;
            color: #fff;
            text-transform: uppercase;
            margin-bottom: 24px;
        }

        &__text {
            font-size: 14px;
            font-weight: 400;
            font-family: variables.$font-family-primary;
            line-height: 1.25;
            color: #fff;
            margin-bottom: 56px;
        }

        &__form {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        &__field {
            position: relative;
            display: flex;
            align-items: start;
        }

        &__icon {
            position: absolute;
            left: 7px;
            top: 6px;
            width: 38px;
            height: 38px;
            pointer-events: none;
            z-index: 1;
        }

        &__input,
        &__textarea {
            width: 100%;
            padding: 14px 20px 14px 57px;
            background-color: #323232;
            border: 1px solid #323232;
            border-radius: 24px;
            font-size: 16px;
            font-weight: 400;
            font-family: variables.$font-family-primary;
            line-height: 1.4;
            color: #fff;
            transition: all 0.3s ease;
            cursor: text;

            &::placeholder {
                color: #BABABA;
                font-family: variables.$font-family-primary;

            }

            &:focus {
                outline: none;
            }
        }

        &__textarea {
            resize: none;
            min-height: 175px;
        }

        &__checkbox {
            margin-top: auto;
            display: flex;
            align-items: flex-start;
            gap: 17px;
            cursor: pointer;
            user-select: none;

            input[type="checkbox"] {
                display: none;

                &:checked+.faq__callback__checkbox-custom {
                    background-color: variables.$primary-color ;
                    border-color: #151515;

                    &::after {
                        opacity: 1;
                    }
                }
            }

            &-custom {
                width: 18px;
                height: 18px;
                border: 4px solid #151515;
                border-radius: 50%;
                flex-shrink: 0;
                position: relative;
                transition: all 0.3s ease;

            }

            &-text {
                font-size: 14px;
                font-weight: 400;
                font-family: variables.$font-family-primary;
                line-height: 1.25;
                color: #8a8a8a;
            }
        }

        &__btn {
            width: 100%;
            padding: 17px;
            justify-content: center;
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.loading {
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 40px;
        margin-bottom: 50px;
    }

    &__tabs-main {
        display: flex;
        gap: 20px;
    }

    &__tab-main {
        padding: 20px 50px;
        font-size: 12px;
        font-weight: 500;
        font-family: variables.$font-family-primary;
        line-height: 1.4;
        color: #fff;
        background: transparent;
        border: 1px solid #00AB67;
        border-radius: 40px;
        cursor: pointer;
        text-transform: uppercase;
        transition: all 0.3s ease;
        position: relative;
        width: fit-content;

        text-align: center;
        text-wrap: balance;

        &:hover {
            background-color: #00AB67;
        }

        &.active {
            background-color: #00AB67;
        }
    }

    &__header-text {
        font-size: 16px;
        font-weight: 400;
        font-family: variables.$font-family-primary;
        line-height: 1.4;
        color: #BABABA;
        width: 607px;
    }

    &__content-main {
        display: none;

        &.active {
            display: block;
        }
    }

    &__flex {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        margin-bottom: 30px;
        flex: 1;
        padding: 30px;
        border: 1px solid #2F2F2F;
        border-radius: 30px;
        background-color: #1E1E1E;
        align-items: center;

        &-item {


            p {
                font-size: 16px;
                font-weight: 400;
                font-family: variables.$font-family-primary;
                line-height: 1.3;
                color: #fff;
                text-transform: uppercase;

                span {
                    color: #00AB67;
                }
            }
        }
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;

        &-item {
            padding: 30px;
            border: 1px solid #2F2F2F;
            border-radius: 30px;
            background-color: #1E1E1E;
            display: flex;
            flex-direction: column;

            position: relative;

            &::after {
                content: '';
                position: absolute;
                right: 10px;
                bottom: 30px;
                width: 30px;
                height: 45px;
                background-size: cover;
                background-position: bottom right;
                display: block;
                background-repeat: no-repeat;
            }

            &:nth-child(1) {
                &::after {
                    background-image: url(../img/icons/2-dots-1.svg);
                }
            }

            &:nth-child(2) {
                &::after {
                    background-image: url(../img/icons/2-dots-2.svg);
                }
            }

            &__header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 20px;
                margin-bottom: 20px;
                font-size: 16px;
                font-weight: 400;
                font-family: variables.$font-family-primary;
                line-height: 1.3;
                color: #fff;
                text-transform: uppercase;

                img {
                    width: 46px;
                    height: 46px;
                    flex-shrink: 0;
                    margin-top: -15px;
                    margin-right: -15px;

                }

            }

            &__content {
                font-size: 16px;
                line-height: 1.4;
                font-weight: 400;
                color: #fff;
                font-family: variables.$font-family-primary;

                ol {
                    padding-left: 10px;

                }
            }

            &__footer {
                margin-top: auto;
                font-size: 14px;
                line-height: 1.4;
                font-weight: 400;
                color: #BABABA;
                margin-top: auto;
                text-wrap: balance;

                span {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 1.3;
                    text-transform: uppercase;
                    color: #fff;
                    margin-top: 24px;
                    display: block;
                }
            }


        }
    }
}

.services {
    &__swiper {
        margin-top: 60px;
    }

    &__navigation {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        margin-top: 40px;
    }

    &__navigation-buttons {
        display: flex;
        align-items: center;
        gap: 12px;
        flex-shrink: 0;
    }

    &__swiper-pagination {
        position: static !important;
        width: 100%;
        height: 1px !important;
        background-color: #8A8A8A !important;
        border-radius: 2px;


        .swiper-pagination-progressbar-fill {
            background-color: #00A652 !important;
            border-radius: 2px;
        }
    }

    &__swiper-button-next,
    &__swiper-button-prev {
        position: static !important;
        width: 48px;
        height: 48px;
        background-color: #00A652;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: all 0.3s ease;
        display: block;

        &::after {
            content: '';
            display: block;
            width: 20px;
            height: 20px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='13' viewBox='0 0 15 13' fill='none'%3E%3Cpath d='M0.311152 6.68885H13.6888M13.6888 6.68885L8.11481 1.11481M13.6888 6.68885L8.33777 12.0399' stroke='white'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }

        svg {
            display: none;

        }

        &:hover {
            background-color: #008542;
            transform: scale(1.05);
        }

        &.swiper-button-disabled {
            opacity: 0.5;
            cursor: not-allowed;

            &:hover {
                transform: none;
            }
        }
    }

    &__swiper-button-prev {
        &::after {
            transform: rotate(180deg);
        }
    }

    &__card {
        position: relative;
        height: 555px;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-between;
        border-radius: 30px;
        overflow: hidden;
        padding: 32px 35px 18px 35px;

        &__img {
            width: 100%;
            height: 100%;
            position: absolute;
            inset: 0;
            margin: 0;
            z-index: -1;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &__title {
            font-size: 24px;
            font-weight: 500;
            font-family: variables.$font-family-headings;
            line-height: 1.24;
            color: #fff;
            text-transform: uppercase;
            text-wrap: balance;
        }

        &__btn {
            width: 100%;
            justify-content: center;
        }

    }
}

.cta {
    min-height: 1000px;
    background-image: url(../img/base/cta-bg.png);
    background-size: 100% 900px;
    background-position: top center ;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: end;
    &__inner {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;

    }

    &__left, &__right {
        padding: 30px;
        border: 1px solid #2F2F2F;
        border-radius: 30px;
        background-color: #1E1E1E;
    }
    &__left {
        display: flex;
        flex-direction: column;
        gap: 30px;

        &__header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 16px;
        }

        &__title {
            font-size: 38px;
            font-weight: 500;
            font-family: variables.$font-family-headings;
            line-height: 1.2;
            color: #fff;
            text-transform: uppercase;
        }

        &__tag {
            display: inline-block;
            padding: 8px 28px;
            border-radius: 100px;
            background-color: #151515;
            font-size: 10px;
            font-weight: 500;
            font-family: variables.$font-family-secondary;
            line-height: 1.4;
            color: #00A652;
            text-transform: uppercase;
            width: fit-content;
            text-align: center;
        }

        &__text {
            font-size: 16px;
            font-weight: 400;
            font-family: variables.$font-family-primary;
            line-height: 1.5;
            color: #fff;
            margin-top: auto;
            text-wrap: balance;

            p {
                margin: 0;
            }
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    &__form-row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    &__form-btn {
        width: 100%;
        justify-content: center;
    }
}

.contacts {
    &__inner {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
        padding: 36px 38px;
        border: 1px solid #2F2F2F;
        border-radius: 26px;
        background-color: #1E1E1E;
    }

    &__title {
        font-size: 16px;
        font-weight: 500;
        font-family: variables.$font-family-primary;
        line-height: 1.3;
        color: #fff;
        text-transform: uppercase;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__icon {
        width: 38px;
        height: 38px;

        flex-shrink: 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__text {
        font-size: 16px;
        font-weight: 400;
        font-family: variables.$font-family-primary;
        line-height: 1.4;
        color: #bababa;
        text-wrap: balance;

        a {
            @include mixins.hover-link;
        }

        address {
            font-style: normal;
        }
    }

    &__socials {
        display: flex;
        gap: 10px;
        align-items: center;

        &__link {
            width: 48px;
            height: 48px;
            border-radius: 50%;
            background-color: #323232;
            display: flex;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }

    &__map {
        width: 100%;
        height: 440px;
        border-radius: 26px;
        overflow: hidden;

        iframe {
            width: 100%;
            height: 100%;
            border: none;
        }
    }
}